@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 96%;
    --foreground: 196 38% 17%;

    --card: 60 20% 96%;
    --card-foreground: 196 38% 17%;

    --popover: 60 20% 96%;
    --popover-foreground: 196 38% 17%;

    --primary: 196 38% 17%;
    --primary-foreground: 60 20% 96%;

    --secondary: 84 100% 50%;
    --secondary-foreground: 196 38% 17%;

    --muted: 196 38% 17%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 84 100% 50%;
    --accent-foreground: 196 38% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 20% 96%;

    --border: 196 38% 17%;
    --input: 196 38% 17%;
    --ring: 196 38% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fill-primary {
  fill: #b3ef3e;
}

